In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/zomato/zomato.csv

# Import Libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Load Path
df = pd.read_csv('/kaggle/input/zomato/zomato.csv')

In [4]:
# Show the  first rows
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Checking information and missing values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [6]:
# Looking for null values
num_values = df.isnull().sum()
print(num_values)

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

Columns with null values:
* rate
* phone
* location
* rest_type
* dish_liked
* cuisines
* approx_cost(for tow people)

In [7]:
# Clean rate column
print(df['rate'].head())

# Information about the column
df['rate'].info()

# Null values
rate_null_values = df['rate'].isnull().sum()
print(rate_null_values)

# I could turn it into numbers and make an average, but i don't think it's relevant.
# Delete null values
df['rate'].dropna(inplace= True)

0    4.1/5
1    4.1/5
2    3.8/5
3    3.7/5
4    3.8/5
Name: rate, dtype: object
<class 'pandas.core.series.Series'>
RangeIndex: 51717 entries, 0 to 51716
Series name: rate
Non-Null Count  Dtype
--------------  -----
43942 non-null  object
dtypes: object(1)
memory usage: 404.2+ KB
7775

In [18]:
# phone column
df['phone'].head()

# Check null values
df['phone'].isnull().sum()

# For phone numbers I can just delete the missing values or fill in zero

# Fill null values with zero
df['phone'].fillna(0, inplace=True)

# Remove non-numeric characters and whitespace
df['phone'] = df['phone'].replace(to_replace=r'[^+\d\\]', value='', regex=True)

In [9]:
# Location column 

# Show the first five rows
df['location'].head()

# Check for null values
df['location'].isnull().sum()

# Delete null values
df['location'].dropna(inplace = True)

In [10]:
# rest_type column

# Show the first five rows
df['rest_type'].head()

# Check for null values
df['rest_type'].isnull().sum()

# Drop null values
df['rest_type'].dropna(inplace=True)

In [11]:
# dish_liked

# Show the first five rows
df['dish_liked'].head()

# Remove leading and trailing whitespaces in the column
df['dish_liked'] = df['dish_liked'].str.strip()

# Standardize capitalization 
df['dish_liked'] = df['dish_liked'].str.upper()

# Drop null values in the dishe_liked
df.dropna(subset=['dish_liked'], inplace=True)
print(df['dish_liked'])

0        PASTA, LUNCH BUFFET, MASALA PAPAD, PANEER LAJA...
1        MOMOS, LUNCH BUFFET, CHOCOLATE NIRVANA, THAI G...
2        CHURROS, CANNELLONI, MINESTRONE SOUP, HOT CHOC...
3                                              MASALA DOSA
4                                      PANIPURI, GOL GAPPE
                               ...
51705    BEER, CHICKEN GUNTUR, PANEER TIKKA, FISH, NOOD...
51707                                     ROOFTOP AMBIENCE
51708    SALADS, COFFEE, BREAKFAST BUFFET, HALWA, CHICK...
51711                                 BIRYANI, ANDHRA MEAL
51715                         COCKTAILS, PIZZA, BUTTERMILK
Name: dish_liked, Length: 23639, dtype: object

In [12]:
# cuisines

# Show the first 5 columns
df['cuisines'].head()

# Drop null values
df['cuisines'].isnull().sum
df.dropna(subset=['cuisines'], inplace= True)

In [13]:
#approx_cost(for tow people)

# Show the five first rows
df['approx_cost(for two people)'].head()

# Check for null values
df['approx_cost(for two people)'].isnull().sum()

# Replace null values with average
df['approx_cost(for two people)'].info()

# Convert to float
df['approx_cost(for two people)'] = pd.to_numeric(df['approx_cost(for two people)'], errors='coerce')

# Display resulting DataFrame
print(df['approx_cost(for two people)'])

# Replace null values with average
df['approx_cost(for two people)'].fillna(df['approx_cost(for two people)'].mean(), inplace=True)

<class 'pandas.core.series.Series'>
Index: 23639 entries, 0 to 51715
Series name: approx_cost(for two people)
Non-Null Count  Dtype
--------------  -----
23503 non-null  object
dtypes: object(1)
memory usage: 369.4+ KB
0        800.0
1        800.0
2        800.0
3        300.0
4        600.0
         ...
51705      NaN
51707      NaN
51708      NaN
51711    800.0
51715      NaN
Name: approx_cost(for two people), Length: 23639, dtype: float64

# General data cleaning

In [14]:
# Cleaning data
df.isnull().sum()
df.dropna(inplace=True)

In [15]:
# Standardize capitalization 
df = df.applymap(lambda x: x.upper()if isinstance(x, str) else x)

#  Remove WitheSpace
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Show the DataFrame
print(df)

                                                     url  \
0      HTTPS://WWW.ZOMATO.COM/BANGALORE/JALSA-BANASHA...
1      HTTPS://WWW.ZOMATO.COM/BANGALORE/SPICE-ELEPHAN...
2      HTTPS://WWW.ZOMATO.COM/SANCHURROBANGALORE?CONT...
3      HTTPS://WWW.ZOMATO.COM/BANGALORE/ADDHURI-UDUPI...
4      HTTPS://WWW.ZOMATO.COM/BANGALORE/GRAND-VILLAGE...
...                                                  ...
51705  HTTPS://WWW.ZOMATO.COM/BANGALORE/IZAKAYA-GASTR...
51707  HTTPS://WWW.ZOMATO.COM/BANGALORE/M-BAR-BENGALU...
51708  HTTPS://WWW.ZOMATO.COM/BANGALORE/KEYS-CAFE-KEY...
51711  HTTPS://WWW.ZOMATO.COM/BANGALORE/BHAGINI-2-WHI...
51715  HTTPS://WWW.ZOMATO.COM/BANGALORE/CHIME-SHERATO...

                                                 address  \
0      942, 21ST MAIN ROAD, 2ND STAGE, BANASHANKARI, ...
1      2ND FLOOR, 80 FEET ROAD, NEAR BIG BAZAAR, 6TH ...
2      1112, NEXT TO KIMS MEDICAL COLLEGE, 17TH CROSS...
3      1ST FLOOR, ANNAKUTEERA, 3RD STAGE, BANASHANKAR...
4      10, 3RD FLOOR, LAKSHMI ASSOCIATES, GANDHI BAZA...
...                                                  ...
51705  2ND FLOOR, IONA, VIRGINIA MALL, WHITEFIELD MAI...
51707  BENGALURU MARRIOTT HOTEL, 75, 8TH ROAD, EPIP A...
51708  KEYS HOTEL, 6, 1ST PHASE INDUSTRIAL AREA, NEAR...
51711  139/C1, NEXT TO GR TECH PARK, PATTANDUR AGRAHA...
51715  SHERATON GRAND BENGALURU WHITEFIELD HOTEL & CO...

                                                    name online_order  \
0                                                  JALSA          YES
1                                         SPICE ELEPHANT          YES
2                                        SAN CHURRO CAFE          YES
3                                  ADDHURI UDUPI BHOJANA           NO
4                                          GRAND VILLAGE           NO
...                                                  ...          ...
51705                                 IZAKAYA GASTRO PUB          YES
51707        M BAR - BENGALURU MARRIOTT HOTEL WHITEFIELD           NO
51708                             KEYS CAFE - KEYS HOTEL           NO
51711                                            BHAGINI           NO
51715  CHIME - SHERATON GRAND BENGALURU WHITEFIELD HO...           NO

      book_table    rate  votes                       phone  \
0            YES   4.1/5    775    08042297555+919743772233
1             NO   4.1/5    787                 08041714161
2             NO   3.8/5    918               +919663487993
3             NO   3.7/5     88               +919620009302
4             NO   3.8/5    166  +918026612447+919901210005
...          ...     ...    ...                         ...
51705        YES  3.8 /5    128  +917625087121+918050587483
51707         NO  3.9 /5     77                 08049435000
51708         NO  2.8 /5    161    08039451000+918884038484
51711         NO  2.5 /5     81                 08065951222
51715        YES  4.3 /5    236                 08049652769

                         location            rest_type  \
0                    BANASHANKARI        CASUAL DINING
1                    BANASHANKARI        CASUAL DINING
2                    BANASHANKARI  CAFE, CASUAL DINING
3                    BANASHANKARI          QUICK BITES
4                    BASAVANAGUDI        CASUAL DINING
...                           ...                  ...
51705                  WHITEFIELD   BAR, CASUAL DINING
51707                  WHITEFIELD     FINE DINING, BAR
51708                  WHITEFIELD   CASUAL DINING, BAR
51711                  WHITEFIELD   CASUAL DINING, BAR
51715  ITPL MAIN ROAD, WHITEFIELD                  BAR

                                              dish_liked  \
0      PASTA, LUNCH BUFFET, MASALA PAPAD, PANEER LAJA...
1      MOMOS, LUNCH BUFFET, CHOCOLATE NIRVANA, THAI G...
2      CHURROS, CANNELLONI, MINESTRONE SOUP, HOT CHOC...
3                                            MASALA DOSA
4                                    PANIPURI, GOL GAPPE
...                                                  ...
51705  BEER, CHICKEN GUNTUR, PANEER TIKKA, FISH, NOOD...
51707                                   ROOFTOP AMBIENCE
51708  SALADS, COFFEE, BREAKFAST BUFFET, HALWA, CHICK...
51711                               BIRYANI, ANDHRA MEAL
51715                       COCKTAILS, PIZZA, BUTTERMILK

                                          cuisines  \
0                   NORTH INDIAN, MUGHLAI, CHINESE
1                      CHINESE, NORTH INDIAN, THAI
2                           CAFE, MEXICAN, ITALIAN
3                       SOUTH INDIAN, NORTH INDIAN
4                         NORTH INDIAN, RAJASTHANI
...                                            ...
51705     NORTH INDIAN, CONTINENTAL, MEDITERRANEAN
51707                                  FINGER FOOD
51708           CHINESE, CONTINENTAL, NORTH INDIAN
51711  ANDHRA, SOUTH INDIAN, CHINESE, NORTH INDIAN
51715                                  FINGER FOOD

       approx_cost(for two people)  \
0                       800.000000
1                       800.000000
2                       800.000000
3                       300.000000
4                       600.000000
...                            ...
51705                   510.120896
51707                   510.120896
51708                   510.120896
51711                   800.000000
51715                   510.120896

                                            reviews_list menu_item  \
0      [('RATED 4.0', 'RATED\N  A BEAUTIFUL PLACE TO ...        []
1      [('RATED 4.0', 'RATED\N  HAD BEEN HERE FOR DIN...        []
2      [('RATED 3.0', "RATED\N  AMBIENCE IS NOT THAT ...        []
3      [('RATED 4.0', "RATED\N  GREAT FOOD AND PROPER...        []
4      [('RATED 4.0', 'RATED\N  VERY GOOD RESTAURANT ...        []
...                                                  ...       ...
51705  [('RATED 3.0', "RATED\N  NICE PLACE TO HANGOUT...        []
51707  [('RATED 4.0', 'RATED\N  WENT THERE POST DINNE...        []
51708  [('RATED 3.0', 'RATED\N  PLACE IS GOOD NOT THA...        []
51711  [('RATED 4.0', 'RATED\N  A FINE PLACE TO CHILL...        []
51715  [('RATED 4.0', 'RATED\N  NICE AND FRIENDLY PLA...        []

      listed_in(type) listed_in(city)
0              BUFFET    BANASHANKARI
1              BUFFET    BANASHANKARI
2              BUFFET    BANASHANKARI
3              BUFFET    BANASHANKARI
4              BUFFET    BANASHANKARI
...               ...             ...
51705   PUBS AND BARS      WHITEFIELD
51707   PUBS AND BARS      WHITEFIELD
51708   PUBS AND BARS      WHITEFIELD
51711   PUBS AND BARS      WHITEFIELD
51715   PUBS AND BARS      WHITEFIELD

[23539 rows x 17 columns]

In [16]:
# Remove duplicate values
df.drop_duplicates(inplace=True)

# Show the dataFrame
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,HTTPS://WWW.ZOMATO.COM/BANGALORE/JALSA-BANASHA...,"942, 21ST MAIN ROAD, 2ND STAGE, BANASHANKARI, ...",JALSA,YES,YES,4.1/5,775,08042297555+919743772233,BANASHANKARI,CASUAL DINING,"PASTA, LUNCH BUFFET, MASALA PAPAD, PANEER LAJA...","NORTH INDIAN, MUGHLAI, CHINESE",800.0,"[('RATED 4.0', 'RATED\N A BEAUTIFUL PLACE TO ...",[],BUFFET,BANASHANKARI
1,HTTPS://WWW.ZOMATO.COM/BANGALORE/SPICE-ELEPHAN...,"2ND FLOOR, 80 FEET ROAD, NEAR BIG BAZAAR, 6TH ...",SPICE ELEPHANT,YES,NO,4.1/5,787,08041714161,BANASHANKARI,CASUAL DINING,"MOMOS, LUNCH BUFFET, CHOCOLATE NIRVANA, THAI G...","CHINESE, NORTH INDIAN, THAI",800.0,"[('RATED 4.0', 'RATED\N HAD BEEN HERE FOR DIN...",[],BUFFET,BANASHANKARI
2,HTTPS://WWW.ZOMATO.COM/SANCHURROBANGALORE?CONT...,"1112, NEXT TO KIMS MEDICAL COLLEGE, 17TH CROSS...",SAN CHURRO CAFE,YES,NO,3.8/5,918,+919663487993,BANASHANKARI,"CAFE, CASUAL DINING","CHURROS, CANNELLONI, MINESTRONE SOUP, HOT CHOC...","CAFE, MEXICAN, ITALIAN",800.0,"[('RATED 3.0', ""RATED\N AMBIENCE IS NOT THAT ...",[],BUFFET,BANASHANKARI
3,HTTPS://WWW.ZOMATO.COM/BANGALORE/ADDHURI-UDUPI...,"1ST FLOOR, ANNAKUTEERA, 3RD STAGE, BANASHANKAR...",ADDHURI UDUPI BHOJANA,NO,NO,3.7/5,88,+919620009302,BANASHANKARI,QUICK BITES,MASALA DOSA,"SOUTH INDIAN, NORTH INDIAN",300.0,"[('RATED 4.0', ""RATED\N GREAT FOOD AND PROPER...",[],BUFFET,BANASHANKARI
4,HTTPS://WWW.ZOMATO.COM/BANGALORE/GRAND-VILLAGE...,"10, 3RD FLOOR, LAKSHMI ASSOCIATES, GANDHI BAZA...",GRAND VILLAGE,NO,NO,3.8/5,166,+918026612447+919901210005,BASAVANAGUDI,CASUAL DINING,"PANIPURI, GOL GAPPE","NORTH INDIAN, RAJASTHANI",600.0,"[('RATED 4.0', 'RATED\N VERY GOOD RESTAURANT ...",[],BUFFET,BANASHANKARI